body{
    font-family: sans-serif;
    text-align: center;
    background-color: #1c1c1c;
}

.container{
    border: 10px solid rgb(255, 255, 255);
    border-radius: 50px;
    margin: 0px 50px 0px 50px;
    color: #ffff;
}

.title{
    font-size: 50px;
}

input{
    display: block;
    margin: auto;
    margin-bottom: 15px;
    font-size: 50px;
    border-radius: 20px;
}

/* button calcular */
#calcular{
    background-color: #fd841a;
    color: #ffff;
    font-size: 35px;
}
#calcular:hover{
    font-size: 37px;
    cursor: pointer;
}

#resultado{
    font-size: 30px;
}

/* button Historial */
#btnHistorial{
    background-color: #cd0000;
    color: #ffff;
    font-size: 30px;
    border-radius: 10px;
}
#btnHistorial:hover{
    font-size: 32px;
    cursor: pointer;
}

#pHistorial{
    font-size: 30px;
}

#btnClear{
    font-size: 20px;
    background-color: #ffea00;
    border-radius: 10px;
}
#btnClear:hover{
    font-size: 22px;
    cursor: pointer;
}